<% if Post.count == 0 %>
  <p>No posts yet, be the first to <%= link_to 'post a story', new_post_path %>
<% else %>
  <%= link_to "Create New Post", new_post_path %>
  <ul class="posts">
    <% Post.all.each do |post| %>
    <li>
    <h3><%= post.title %></h3>
    <% if user_signed_in? %>
    <p><%= User.find_by(id: post.user_id).name %>
    <% end %>
    <p><%= post.body %></p><br>
    </li>
    <% end %>
  </ul>


<% end %>
